.dustbin-icon {
  position: fixed;
    right: 5em;
    bottom: 0;
    margin: auto;
    width: 6.6em;
    height: 8em;
    background: linear-gradient(90deg, #333 40%, transparent 40%);
    background-size: 2.8em;
    border-bottom: 1.6em solid #333;
    border-radius: 0 0 1em 1em;
}
.dustbin-icon:before {
  content: '';
    position: absolute;
    top: -3em;
    left: -1.26em;
    width: 8em;
    height: 1.2em;
    border: 0.6em solid #333;
    border-radius: 1em 1em 0 0;
    transition: 500ms;
    /* -ms-transform: rotate(45deg);
    -ms-transform-origin: 20% 40%;
    transform: rotate(45deg);
    transform-origin: 100% 100%; */
}
.dustbin-icon:after {
  content: '';
    position: absolute;
    top: -5em;
    left: 1.5em;
    width: 2.5em;
    height: 0.5em;
    border-radius: 1em 1em 0 0;
    border-width: 0.6em;
    border-color: #333;
    border-style: solid;
    /* -ms-transform: rotate(45deg);
    -ms-transform-origin: 20% 40%;
    transform: rotate(45deg);
    transform-origin: 200% 200%; */
    transition: 500ms; 
}
.dustbin-icon:hover::before{
  top: -5em;
}
.dustbin-icon:hover::after{
  top: -7em;
}